@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.item-container {
    border-top: 1px solid $cloud;
    padding: 0 2rem;
    @include flex-center;

    @include tablet {
        height: 3.75rem;

        &.first-row {
            border-top: none;
        }

        &:hover {
            background-color: rgba($instock-indigo, 7%);
        }
    }
}

.details-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    padding: 1rem 0 1.5rem 0;

    @include tablet {
        flex-wrap: nowrap;
        gap: 2rem;
        align-items: flex-end;
        padding: 1.125rem 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 7rem;
    
        @include tablet {
            flex-direction: row;
            align-items: center;
            flex: 0;
        }
    
        &--status {
            margin: 0;
    
            @include tablet {
                display: none;
            }
        }
    
        &--stock {
            @include flex-center;
            justify-content: flex-start;
        }
    
        &--heading {
            margin: 1rem 0 0.25rem 0;
            @include table-header;
    
            @include tablet { display: none; }
        }
    
        &--quantity {
            margin: 0;
            color: $instock-black;
            @include body-medium;
    
            @include tablet { display: none; }
        }
    
        &--location {
            margin: 1rem 0 0.25rem 0;
            @include table-header;
    
            @include tablet { display: none; }
        }
    
        &--warehouse {
            color: $instock-black;
            margin: 0;
            @include body-medium;
    
            @include tablet { display: none;       
            }
        }
    }
}

.info-container__item {
    display: flex;
    flex-direction: column;
    flex: 1;

    &--label, &--heading, &--category {
        @include tablet { display: none; }
    }

    @include tablet {
        flex-direction: row;
        align-items: center;
        flex: 0;
        width: 7rem;
    }

    &--label {
        margin: 0;
        @include table-header;
    }

    &--heading {
        margin: 1rem 0 0.25rem 0;
        @include table-header;
    }

    &--category {
        color: $instock-black;
        margin: 0;
        @include body-medium;
    }
}

.long-row {
    display: none;

    @include tablet {
        display: block;
        color: $instock-black;
        margin: 0;
        @include body-medium;
    }
}

.spacing-mod {
    width: 5.723125rem;
}

.item-links {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;

    @include tablet {
        width: 6rem;
    }

    &__name {
        text-decoration: none;
        color: $instock-indigo;
        margin: 0.25rem 0;
        @include labels-links-buttons;

        @include tablet {
            margin: 0;
            text-wrap: nowrap;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__chevron {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include tablet {
        width: auto;
        gap: 1rem;
        align-items: center;
    }

    &__delete {
        transition: 0.4s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }

        &:active {
            transform: scale(1);
            transition: 0.1s ease;
        }
    }

    &__edit {
        transition: 0.4s ease;
        cursor: pointer;

        @include tablet {
            align-self: flex-end;
        }

        &:hover {
            transform: scale(1.2);
        }

        &:active {
            transform: scale(1);
            transition: 0.1s ease;
        }
    }
}