@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 2rem 1.5rem 1.5rem;
	border-bottom: 1px solid $cloud;
}

.back-button-container {
	display: flex;
	align-items: center;
}

.warehouse-name {
	@include page-header;
	flex-grow: 1;
	margin: 0;
}

.warehouse-info {
	display: flex;
	flex-direction: column;
	padding: 1rem 1.5rem;
	gap: 2.25rem;
	border-bottom: 1px solid $cloud;

	& * {
		margin: 0;
		padding: 0;
	}
}

.table-header {
	@include table-header;
	padding-bottom: 0.25rem;
}

.warehouse-info__address-content {
	@include body-medium;
	display: flex;
	gap: 0.5ch;
}

.warehouse-info__contact {
	@include body-medium;
	display: flex;
	justify-content: space-between;

	.contact-info {
		padding-right: 1rem;
	}
}
