// Custom provided FONTS for BrainFlix

@font-face {
  font-family: "Titillium Regular";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Semi Bold";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}
