@use "./variables" as *;
@use "./fonts" as *;

// Media Query Mixins
@include mobile;
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
    @include pc;
  }
}

@mixin laptop {
  @media (min-width: $pc-breakpoint) {
    @content;
  }
}

// Font Mixins
@mixin regular {
  font-family: "Titillium Regular";
}

@mixin semiBold {
  font-family: "Titillium Semi Bold";
}

// General shape of buttons and search bars
@mixin interactive-components {
  height: 2.25rem;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

// Button Mixin
@mixin btn {
  @include interactive-components;
  justify-content: center;
}