// Breakpoints
$tablet-breakpoint: 768px;
$pc-breakpoint: 1280px;

// Primary Colours
$instock-black: #131b2c; // global text
$instock-indigo: #2e66e5; // interactive elements
$white: #ffffff; // Floaty background

// Secondary Colours
$slate: #5c667e; // table column headers & placeholder text
$cloud: #bdc5d5; // outlines, dividers, borders, table sorting icon

// BG Colours
$graphite: #232940; // top nav header bg, CTA hover bg
$light-grey: #f7f8f9; // page bg, table column header bg, CTA bg

// Status Colours
$green: #158463; // in stock
$red: #c94515; // out of stock, error states, delete icon
