@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-button {
	cursor: pointer;
	border: none;
	background-color: $instock-indigo;
	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	height: 36px;
	width: 36px;

	@include tablet {
		height: 38px;
		width: 81px;
	}

	&__icon {
		filter: brightness(0) invert(100%);
	}

	&__content {
		@include labels-links-buttons;
		padding-left: 10px;
		display: none;

		@include tablet {
			display: inline;
		}
	}
}
