@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.delete-modal {
  border: none;
  height: 100dvh;
  width: 100dvh;
  
  &::backdrop {
    background-color: $white;
  }

  @include tablet {
    // height: 16.375rem;
    height: fit-content;
    width: 42rem;
    padding: 2.5rem 4rem;
    box-sizing: border-box;

    &::backdrop {
      background-color: $instock-black;
      opacity: 70%;
    }  
  }
}

.modal-content-wrapper {
  display: flex;
  flex-direction: column;

  & * {
    margin: 0;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.close-icon {
  align-self: flex-end;
  justify-content: center;
  background-color: inherit;
	border: none;
  padding-bottom: 1rem;
	cursor: pointer;
	transition: 0.1s;

	&:hover {
		transform: scale(1.25);
	}

	&:active {
		transform: scale(1);
	}

  @include tablet {
    padding: 0;
  }
}

.modal-message {
  display: inline;
  padding-right: 0.25rem;

  @include tablet {
    display: block;
  }
}

.modal-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 15rem;

  @include tablet {
    margin-top: 1rem;
    justify-content: flex-end
  }
}

.delete-button {
  @include btn;
  background-color: $red;
  color: $white;
  width: 50%;

  @include tablet {
    width: fit-content;
  }
}