@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.content-wrapper {
    padding: 0 1rem;
}

.content-container {
    background-color: $white;
    margin-top: -4rem;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.inventory-heading {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 1.5rem;

    &__title {
        @include page-header;
        margin: 2rem 0 1rem 0;
    }

    &__item-container {
        @include flexCenter;
        flex-direction: column;

        &--search {
            width: 100%;
            height: 2.25rem;
            padding: 0 1rem;
            border-radius: 20px;
            border: 1px solid $cloud;
            transition: border-color 0.3s ease;
            color: $slate;
            @include body-medium;

            &:focus {
                border-color: $instock-indigo;
                outline: none;
                color: $instock-black;
            }
        }

        &--addItem {
            @include addButton;
            margin: 1rem 0 1.5rem 0;
            padding: 0;

            &:active {
                background-color: $instock-black;
            }
        }
    }
}