@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

// Appear in mobile mode
.mobile {
    display: inline;
    @media (min-width: $tablet-breakpoint) { display: none; }
}

main {
    background-color: $light-grey;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.floaty-container {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: -6.25rem 0;
    z-index: 1;
    display: flex;
    width: calc(100% - 10rem);
    padding: 1.25rem;
}

.sorty-selectors {
    display: none;
    @media (min-width: $tablet-breakpoint) { display: flex }
    background-color: $slate;
    justify-content: space-around;

    &__item {
        display: flex;
    }
}

.warehouse-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media (min-width: $tablet-breakpoint) { justify-content: space-around; }

    &__item {
        width: 50%;
        margin-top: 1rem;
        @media (min-width: $tablet-breakpoint) { max-width: 150px; }
    }

    &__options {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (min-width: $tablet-breakpoint) { 
            justify-content: center; 
            width: auto;
        }
    
        & img {
            width: 25px;
        }
    }

    & span {
        display: flex;
    }

    & h3, h4, p {
        margin: 0;
        margin-top: 0.25rem;
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: $cloud;
    margin-top: 1rem;
}

.search {
    @include interactive-components;
    width: calc(100% - 2rem);
    margin-bottom: 16px;
}

.btn__add {
    @include btn;
    width: 100%;
    background-color: $instock-indigo;
    color: $white;
}